<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @scaffold_test.text %>
</p>

<p>
  <strong>Score:</strong>
  <%= @scaffold_test.score %>
</p>

<%= link_to 'Edit', edit_scaffold_test_path(@scaffold_test) %> |
<%= link_to 'Back', scaffold_tests_path %>
