<div class="col-sm-12 main">
  <h2 class="page-header">New Project</h2>

  <%= form_for(@project) do |f| %>
      <div class="form-group">
        <%= render 'shared/error_messages', object: f.object %>
      </div>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Create', class: "btn btn-primary" %>
      </div>

  <% end %>


</div>
